@charset "UTF-8";

html {
	font-size: 100%;
}

.header-nav {
	position: fixed;
	width: 100%;
	z-index: 9999;
}

.content {
	padding-top: 4rem;
}

.sidebar {
	position: fixed;
	display: block;
	top: 58px;
	bottom: 0;
	left: 0;
}

.main {
	position: fixed;
	display: block;
	top: 58px;
	bottom: 0;
	padding-left: 20px;
	overflow-y: auto;
	height: calc(100vh - 58px);
}