<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- CSS読込 -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/login/login.css}">
  <!-- JS読込 -->
  <script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
  <title>ログイン</title>
</head>
<body class="bg-light">
	<!-- ヘッダー -->
	<nav layout:replace="~{layout/header-login::header}"></nav>
	<div class="login-wrap d-flex flex-row justify-content-between">
		<div class="login-left col-12 col-xl-6">
			<h1 class="login-head">テストケース作成ツール<span class="login-title">てすさく</span></h1>
			<div class="text-center">
				<form method="post" th:action="@{/login}" class="login-form">
				  <h2 class="login-form__head h4">ログイン</h2>
				  <p th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null"
					th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"
					class="text-danger">
					ログインエラーメッセージ
				  </p>
				  <!-- ユーザーID -->
				  <div class="form-group">
					<label for="userId" class="sr-only">userId</label>
					<input type="text" class="form-control" placeholder="ユーザーID" name="userId" style="ime-mode:disabled;" />
				  </div>
				  <!-- パスワード -->
				  <div class="form-group">
					<label for="password" class="sr-only">password</label>
					<input type="password" class="form-control" placeholder="パスワード" name="password"/>
				  </div>
				  <input type="submit" value="ログイン" class="btn btn-primary" />
				</form>
				<a th:href="@{/user/signup}">新規登録はこちら</a>
			</div>
		</div>
		<div class="login-right d-none d-xl-block col-xl-6">
			<img class="hero" th:src="@{'/img/top.svg'}" alt="Hero image" />
		</div>
  </div>
</body>
</html>