@charset "UTF-8";

.testcase-wrapper {
	position: relative;
	overflow: visible;
	width: auto;
	max-width: none;
	top: 1rem;
}

.testcase-form {
	font-size: 1rem;	
}

.testcase-form td {
	border: solid 1px #888;
}

.testcase-form p {
	margin: 0;
}

.testcase-form select {
	background-color: #fff;
}

.testcase-form textarea {
	width: 10rem;
	height: 6.4rem;
	min-height: 6.4rem;
	border: none;
	border-radius: 0;
	padding: 0;
	outline: none;
	font-size: 0.7rem;	
	background: none;
	resize: none;
}

.testcase-form__table {
	border-collapse: separate;
}

.testcase-form__header {
	text-align: center;
}

.testcase-form__header__pre {
	background-color: #cfc;
}

.testcase-form__header__after {
	background-color: #ff9;
}

.testcase-form__id {
	height: 6.4rem;
	min-height: 6.4rem;
	width: 2.4rem;
	border: none;
}

.testcase-form__result {
	height: 6.4rem;
	min-height: 6.4rem;
	width: 4.8rem;
}

.testcase-form__input-text {
	width: 10rem;
	height: 6.4rem;
	min-height: 6.4rem;
	padding: 0;
	border: none;
	border-radius: 0;
	outline: none;
	background: none;
}

.testcase-form__delete {
	display: inline-block;
	width: 2.4rem;
	text-align: center;
	background-color: #fcc;
}

.testcase-form__header {
	position: sticky;
	top: 0;
	background-color: #fff;
}

.testcase-form__result {
	font-size: 1.2rem;
}

.add-btn {
	display: block;
	width: 5.6rem;
	margin: 0.8rem 0;
	font-size: 1.2rem;
	cursor: pointer;
}

.delete-btn {
	font-size: 1.4rem;
	text-align: center;
	cursor: pointer;
}

.e-delete-btn {
	font-size: 1.4rem;
	text-align: center;
	cursor: pointer;
}

.testcase-form__immutable {
	background-color: #f3f3fe;
	color: #000;
}

.testcase-form__immutable textarea {
	color: #000;
}

.testcase-form__immutable--lg {
	width: 10rem;
	height: 6.4rem;
	min-height: 6.4rem;
}

.testcase-form__input--disabled {
	pointer-events: none;
	background-color: #f3f3fe;
}