<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout-caseform}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/testcase/create.css}" />
<title>テストケース作成フォーム</title>
</head>
<body>
	<div layout:fragment="content">
		<ul class="breadcrumb">
			<li class="breadcrumb-item"><a th:href="@{/user}">ユーザーページ</a></li>
			<li class="breadcrumb-item active">テストケース作成フォーム</li>
		</ul>
		<h2>テストケース作成フォーム</h2>
		<form method="post" th:action="@{/testsuite/} + ${suiteId}" class="testcase-form">
			<table class="testcase-form__table" th:if="${isAssigned}" sec:authorize="hasRole('ADMIN')">
				<!-- 管理者用 -->
				<thead>
					<tr class="testcase-form__header">
						<th class="testcase-form__delete">削除</th>
						<th class="testcase-form__header__pre">No.</th>
						<th class="testcase-form__header__pre">項目</th>
						<th class="testcase-form__header__pre">前提条件</th>
						<th class="testcase-form__header__pre">手順</th>
						<th class="testcase-form__header__pre">期待結果</th>
						<th class="testcase-form__header__after">結果</th>
						<th class="testcase-form__header__after">確認日</th>
						<th class="testcase-form__header__after">確認Ver.</th>
						<th class="testcase-form__header__after">不具合No.</th>
						<th class="testcase-form__header__after">実行者</th>
						<th class="testcase-form__header__after">コメント</th>
					</tr>
				</thead>
				<tbody th:if="${cases.size() == 0}" id="testcase-form-body">
					<tr th:object="${testcaseForm}">
						<td></td>
						<td><input class="testcase-form__id" type="text" name="caseId" th:value="1" required /></td>
						<td><textarea th:field="*{caseName}"></textarea></td>
						<td><textarea th:field="*{condition}"></textarea></td>
						<td><textarea th:field="*{process}"></textarea></td>
						<td><textarea th:field="*{expect}"></textarea></td>
						<td>
							<select class="testcase-form__result" th:field="*{result}">
								<option th:each="result : ${resultMap}" th:value="${result.key}" th:text="${result.value}"></option>
							</select>
						</td>
						<td><input class="testcase-form__input-text" type="date" th:field="*{checkDate}" /></td>
						<td><input class="testcase-form__input-text" type="text" th:field="*{checkVer}" /></td>
						<td><input class="testcase-form__input-text" type="text" th:field="*{defectNo}" /></td>
						<td><input class="testcase-form__input-text" type="text" th:field="*{tester}" /></td>
						<td><textarea th:field="*{comment}"></textarea></td>
					</tr>
				</tbody>

				<tbody th:if="${isAssigned && cases.size() != 0}" id="testcase-form-body">
					<tr th:each="testcase, stat : ${cases}">
						<td th:if="${stat.index == 0}"></td>
						<td th:if="${stat.index > 0}" th:text="－" class="e-delete-btn"></td>
						<td><input class="testcase-form__id" type="text" name="caseId" th:value="${testcase.caseId}" required /></td>
						<td><textarea name="caseName" th:text="${testcase.caseName}"></textarea></td>
						<td><textarea name="condition" th:text="${testcase.condition}"></textarea></td>
						<td><textarea name="process" th:text="${testcase.process}"></textarea></td>
						<td><textarea name="expect" th:text="${testcase.expect}"></textarea></td>
						<td>
							<select class="testcase-form__result" name="result">
								<option th:each="result : ${resultMap}" th:value="${result.key}"
									th:text="${result.value}" th:selected="${result.key} == ${testcase.result}"></option>
							</select>
						</td>
						<td th:if="${testcase.checkDate.toString() == '9999-12-31'}"><input class="testcase-form__input-text" type="date" name="checkDate" /></td>
						<td th:unless="${testcase.checkDate.toString() == '9999-12-31'}"><input class="testcase-form__input-text" type="date" name="checkDate" th:value="${testcase.checkDate.toString()}" /></td>
						<td><input class="testcase-form__input-text" type="text" name="checkVer" th:value="${testcase.checkVer}" /></td>
						<td><input class="testcase-form__input-text" type="text" name="defectNo" th:value="${testcase.defectNo}" /></td>
						<td><input class="testcase-form__input-text" type="text" name="tester" th:value="${testcase.tester}" /></td>
						<td><textarea name="comment" th:text="${testcase.comment}"></textarea></td>
					</tr>
				</tbody>
			</table>

			<table class="testcase-form__table" th:if="${isAssigned}" sec:authorize="! hasRole('ADMIN')">
				<!-- アサイン実行者用 -->
				<thead>
					<tr class="testcase-form__header">
						<th class="testcase-form__delete">削除</th>
						<th class="testcase-form__header__pre">No.</th>
						<th class="testcase-form__header__pre">項目</th>
						<th class="testcase-form__header__pre">前提条件</th>
						<th class="testcase-form__header__pre">手順</th>
						<th class="testcase-form__header__pre">期待結果</th>
						<th class="testcase-form__header__after">結果</th>
						<th class="testcase-form__header__after">確認日</th>
						<th class="testcase-form__header__after">確認Ver.</th>
						<th class="testcase-form__header__after">不具合No.</th>
						<th class="testcase-form__header__after">実行者</th>
						<th class="testcase-form__header__after">コメント</th>
					</tr>
				</thead>
				<tbody th:if="${cases.size() != 0}" id="testcase-form-body">
					<tr th:each="testcase, stat : ${cases}">
						<td class="testcase-form__immutable e-delete-btn"></td>
						<td class="testcase-form__immutable"><input class="testcase-form__id testcase-form__input--disabled" type="text" name="caseId" th:value="${testcase.caseId}" required /></td>
						<td class="testcase-form__immutable"><textarea name="caseName" th:text="${testcase.caseName}" disabled></textarea></td>
						<td class="testcase-form__immutable"><textarea name="condition" th:text="${testcase.condition}" disabled></textarea></td>
						<td class="testcase-form__immutable"><textarea name="process" th:text="${testcase.process}" disabled></textarea></td>
						<td class="testcase-form__immutable"><textarea name="expect" th:text="${testcase.expect}" disabled></textarea></td>
						<td>
							<select class="testcase-form__result" name="result">
								<option th:each="result : ${resultMap}" th:value="${result.key}"
									th:text="${result.value}" th:selected="${result.key} == ${testcase.result}"></option>
							</select>
						</td>
						<td th:if="${testcase.checkDate.toString() == '9999-12-31'}"><input class="testcase-form__input-text" type="date" name="checkDate" /></td>
						<td th:unless="${testcase.checkDate.toString() == '9999-12-31'}"><input class="testcase-form__input-text" type="date" name="checkDate" th:value="${testcase.checkDate.toString()}" /></td>
						<td><input class="testcase-form__input-text" type="text" name="checkVer" th:value="${testcase.checkVer}" /></td>
						<td><input class="testcase-form__input-text" type="text" name="defectNo" th:value="${testcase.defectNo}" /></td>
						<td><input class="testcase-form__input-text" type="text" name="tester" th:value="${testcase.tester}" /></td>
						<td><textarea name="comment" th:text="${testcase.comment}"></textarea></td>
					</tr>
				</tbody>
			</table>

			<table class="testcase-form__table" th:unless="${isAssigned}">
				<!-- 非アサインユーザー用 -->
				<thead>
					<tr class="testcase-form__header">
						<th class="testcase-form__delete">削除</th>
						<th class="testcase-form__header__pre">No.</th>
						<th class="testcase-form__header__pre">項目</th>
						<th class="testcase-form__header__pre">前提条件</th>
						<th class="testcase-form__header__pre">手順</th>
						<th class="testcase-form__header__pre">期待結果</th>
						<th class="testcase-form__header__after">結果</th>
						<th class="testcase-form__header__after">確認日</th>
						<th class="testcase-form__header__after">確認Ver.</th>
						<th class="testcase-form__header__after">不具合No.</th>
						<th class="testcase-form__header__after">実行者</th>
						<th class="testcase-form__header__after">コメント</th>
					</tr>
				</thead>
				<tbody th:if="${cases.size() != 0}" id="testcase-form-body">
					<tr th:each="testcase, stat : ${cases}">
						<td class="testcase-form__immutable e-delete-btn"></td>
						<td class="testcase-form__immutable"><input class="testcase-form__id testcase-form__input--disabled" type="text" name="caseId" th:value="${testcase.caseId}" required /></td>
						<td class="testcase-form__immutable"><textarea name="caseName" th:text="${testcase.caseName}" disabled></textarea></td>
						<td class="testcase-form__immutable"><textarea name="condition" th:text="${testcase.condition}" disabled></textarea></td>
						<td class="testcase-form__immutable"><textarea name="process" th:text="${testcase.process}" disabled></textarea></td>
						<td class="testcase-form__immutable"><textarea name="expect" th:text="${testcase.expect}" disabled></textarea></td>
						<td class="testcase-form__immutable" th:switch="${testcase.result}">
							<p class="testcase-form__immutable testcase-form__immutable--lg" th:case="0"></p>
							<p class="testcase-form__immutable testcase-form__immutable--lg" th:case="1" th:text="OK"></p>
							<p class="testcase-form__immutable testcase-form__immutable--lg" th:case="2" th:text="NG"></p>
							<p class="testcase-form__immutable testcase-form__immutable--lg" th:case="3" th:text="skip"></p>
							<p class="testcase-form__immutable testcase-form__immutable--lg" th:case="4" th:text="pendding"></p>
							<p class="testcase-form__immutable testcase-form__immutable--lg" th:case="5" th:text="'N/A'"></p>
						</td>
						<td class="testcase-form__immutable" th:if="${testcase.checkDate.toString() == '9999-12-31'}"><input class="testcase-form__input-text" type="date" name="checkDate" /></td>
						<td class="testcase-form__immutable" th:unless="${testcase.checkDate.toString() == '9999-12-31'}"><input class="testcase-form__input-text" type="date" name="checkDate" th:value="${testcase.checkDate.toString()}" /></td>
						<td class="testcase-form__immutable"><input class="testcase-form__input-text" type="text" name="checkVer" th:value="${testcase.checkVer}" disabled /></td>
						<td class="testcase-form__immutable"><input class="testcase-form__input-text" type="text" name="defectNo" th:value="${testcase.defectNo}" disabled /></td>
						<td class="testcase-form__immutable"><input class="testcase-form__input-text" type="text" name="tester" th:value="${testcase.tester}" disabled /></td>
						<td class="testcase-form__immutable"><textarea name="comment" th:text="${testcase.comment}" disabled></textarea></td>
					</tr>
				</tbody>
			</table>
			<span id="add-btn" class="add-btn" sec:authorize="hasRole('ADMIN')" th:if="${isAssigned}"><i class="fa fa-plus-circle" aria-hidden="true"></i> 追加</span>
			<div class="mt-3 mb-3" th:if="${isAssigned}">
				<input type="submit" value="送信" class="btn btn-primary" />
			</div>
		</form>

	<script th:src="@{/js/form.js}"></script>
	</div>
</body>
</html>