<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pepole.tesusaku.repository.TestsuiteMapper">
	<!-- マッピング定義(テストスイート) -->
	<resultMap type="com.pepole.tesusaku.model.Testsuite" id="testsuite">
		<id column="suite_id" property="suiteId" />
		<result column="suite_name" property="suiteName" />
		<result column="admin_id" property="adminId" />
		<collection property="assignUsers" resultMap="assign" columnPrefix="assign_" />
	</resultMap>
	
	<resultMap type="String" id="assign">
		<id column="user_id" property="userId" />
	</resultMap>

	<!-- テストスイート1件登録 -->
	<insert id="insertOne" useGeneratedKeys="true" keyProperty="suiteId">
		insert into t_testsuite(
			suite_name
			, admin_id
		)
		values (
			#{suiteName}
			, #{adminId}
		)
	</insert>

	<!-- テストスイート全取得 -->
	<select id="findAll" resultType="Testsuite">
		select
			*
		from
			t_testsuite
	</select>
	
	<!-- テストスイート1件取得 -->
	<select id="findBySuiteidAndUserid" resultMap="testsuite">
		select
			t_testsuite.suite_id
			, t_testsuite.suite_name
			, t_testsuite.admin_id
			, t_assign.user_id as assign_user_id
		from
			t_testsuite
		left join
			t_assign
		on
			t_testsuite.suite_id = t_assign.suite_id
		where
			t_testsuite.suite_id = #{suiteId}
		and
			t_testsuite.admin_id = #{userId}
	</select>

	<!-- テストスイート取得 -->
	<select id="findByUser" resultType="Testsuite">
		select
			*
		from
			t_testsuite
		join
			t_assign
		on
			t_testsuite.suite_id = t_assign.suite_id
		where
			user_id = #{userId}
	</select>

	<!-- テストスイート+テストケース取得 -->
	<select id="findBySuiteidAndUser" resultType="Testsuite">
		select
			*
		from
			t_testsuite
		join
			t_testcase
		on
			t_testsuite.suite_id = t_testcase.testsuite_id
		where
			suite_id = #{suiteId}
			, admin_id = #{userId}
	</select>

	<!-- テストスイート更新 -->
	<update id="updateBySuiteid">
		update
			t_testsuite
		set
			suite_name = #{suiteName}
		where
			suite_id = #{suiteId}
	</update>

	<!-- テストスイート削除 -->
	<delete id="deleteBySuiteidAndUserid">
		delete from
			t_testsuite
		where
			suite_id = #{suiteId}
		and
			admin_id = #{userId}
	</delete>
</mapper>