<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pepole.tesusaku.repository.TestsuiteMapper">
	<!-- マッピング定義(テストスイート) -->
	<resultMap type="com.pepole.tesusaku.model.Testsuite" id="testsuite">
		<id column="suite_id" property="suiteId" />
		<result column="suite_name" property="suiteName" />
	</resultMap>

	<!-- テストスイート1件登録 -->
	<insert id="insertOne">
		insert into t_testsuite(
			suite_id ,
			suite_name 
		)
		values (
			#{suiteId} ,
			#{suiteName} 
		)
	</insert>

	<!-- テストスイート -->
	<select id="selectAll" resultType="Testsuite">
		select * from t_testsuite
	</select>
</mapper>